<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Account Details</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/assets/main.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
</head>
<body>
  <nav id="navbar">
    <div class="navlink"><a href="/home">Home</a></div>
    <div class="navlink"><a href="/logout">Log out</a></div>
    <div class="navlink"><a href="/creator">Create Recipe</a></div>
  </nav>

  <section id="content">

  </section>

  <div id="errorNotification" class='hidden'>
    <h3><span id="errorMessage"></span></h3>
  </div>
  <script src="/assets/accountBundle.js"></script>
</body>
</html>