<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recipe Creator</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <nav><a href="/login"><img id="logo" src="" alt="logo"/></a>
    <div class="navlink"><a href="/logout">Log out</a></div>
  </nav>

  <section id="content">

  </section>

  <div id="errorNotification" class='hidden'>
    <h3><span id="errorMessage"></span></h3>
  </div>
  <script src="/assets/creatorBundle.js"></script>
</body>
</html>