<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>Re.cipe</title>
  <link rel="shortcut icon" href=""/>
  <link rel="stylesheet" type="text/css" href=""/>
</head>
<body>
  <nav><a href="/login"><img id="logo" src="" alt="logo"/></a>
    <div class="navlink"><a href="/logout">Log out</a></div>
  </nav>

  <section id="app">

  </section>

  <div id="errorNotification" class='hidden'>
    <h3><span id="errorMessage"></span></h3>
  </div>
  <script src="/assets/appBundle.js"></script>
</body>
</html>
