<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recipe Viewer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <nav>
        <div class="navlink"><a id="logoutButton" href="/logout">Log out</a></div>
        <div class="navlink"><a id="homeButton" href="/home">Home</a></div>
        <div class="navlink"><a id="creatorButton" href="/creator">Create Recipe</a></div>
    </nav>

    <section id="content">

    </section>

    <div id="errorNotification" class="hidden">
        <h3><span id="errorMessage"></span></h3>
    </div>
    <script src="/assets/viewerBundle.js"></script>
</body>
</html>